<div class="container">
  <div class="row align-items-center justify-content-center" style="height:500px;">
    <h2 class="px-3 mx-auto"><strong><i class="fas fa-skull-crossbones"></i>Genre</strong>
    <strong>Horror<i class="fas fa-skull-crossbones"></i></strong>の楽しみ方</h2>
    
    <h5 class="px-3 mx-auto bg-dark text-white">
      ホラー映画のみに特化した映画レビューサイトです。</br>
      レビューを投稿する際に、ホラーをさらにジャンル分けをすることができます。</br>
      また、映画の面白さと怖さの5段階評価をすることができます。</br>
    </h5>
    <h5 class="px-3 mx-auto bg-dark text-white">
      ジャンルについては管理者が独断と偏見で分けています。</br>
      ユーザーの皆様も、投稿した作品がどのジャンルに含まれるかをご自身の独断で</br>
      決定していただければ結構です。</br>
    </h5>
  </div>
</div>

